{% extends "base.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container login-bg">
  <div class="form-wrap">
    <div class="branding">
      <img src="{% static 'media/logo.png' %}" alt="Logo" width="60">
      <div class="brand-text">
        <h1 class="app-name">RemindU</h1>
        <p class="slogan">Stay on track, stay productive!</p>
      </div>
    </div>
    <h3>Login</h3>
    <form method="POST">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Register</button>
    </form>
    <a class="signup-link" >Login</a>
  </div>
</div>
{% endblock %}